/* 
	Addtional styling for the resume buttom
*/



#resumeBorder {
	position: relative;
	float: left;
	margin: 0px;
	padding: 20px;
	border: solid 5px black;
}

#nameFooter {
	color: #21b799;
}

.bounce {
    -moz-animation: _downwards_bounce_animation 2s infinite;
    -webkit-animation: _downwards_bounce_animation 2s infinite;
    animation: _downwards_bounce_animation 2s infinite;
    /* center horizontally and offset vertically to place under the sibling div */
  position: inherit;
  
    left: 50%;
    top: 50%;
}

@-moz-keyframes _downwards_bounce_animation {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(2em);
        transform: translateY(2em);
    }
    60% {
        -moz-transform: translateY(1em);
        transform: translateY(1em);
    }
}
@-webkit-keyframes _downwards_bounce_animation {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(2em);
        transform: translateY(2em);
    }
    60% {
        -webkit-transform: translateY(1em);
        transform: translateY(-1em);
    }
}
@keyframes _downwards_bounce_animation {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(2em);
        -ms-transform: translateY(2em);
        -webkit-transform: translateY(2em);
        transform: translateY(2em);
    }
    60% {
        -moz-transform: translateY(1em);
        -ms-transform: translateY(1em);
        -webkit-transform: translateY(1em);
        transform: translateY(1em);
    }
}